NAMEE:SHREYAS
PRN:25070123131

EXP-4 STUDY OF SET IN PYTHON

In [ ]:
set1={"apple" , "banana" , "cherry"}
print (set1)

{'apple', 'banana', 'cherry'}

In [ ]:
set2={2,2.5,True, "lambda"}
print(set2)

{True, 2, 2.5, 'lambda'}

In [ ]:
set3={"apple",2,True,1,"apple"}
print(set3)

{'apple', 2, True}

In [ ]:
set4={"apple","banana","cherry"}
set4.add("kiwi")
print(set4)

{'apple', 'banana', 'cherry', 'kiwi'}

In [ ]:
set5={"apple","banana","cherry"}
set5.remove("banana")
print(set5)

{'apple', 'cherry'}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:", set6|set7)
print("intersection:", set6&set7)
print("difference:", set6-set7)
print("difference:", set7-set6)
print("disimilar:", set6 ^ set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
disimilar: {1, 2, 5, 6}

In [ ]:
set8=frozenset({"apple" , "banana" , "orange"})
print(set8)
print(type(set8))

frozenset({'apple', 'orange', 'banana'})
<class 'frozenset'>

In [ ]:
participants=["aditya", "hritik", "ranbir", "varun", "aditya", "shahid" , "shreyas" , "aditya", "siddharth"]
participants=set9=frozenset(list)
print("unique participants:", list)

unique participants: frozenset({'hritik', 'varun', 'shreyas', 'ranbir', 'aditya', 'shahid', 'siddharth'})

In [ ]:
set_student1={"m1","m2","m3","sanskrit","python"}
set_student2={"english", "hindi" , "biology" , "python"}
set_student3={"padhai", "EG", "python"}
set_student4= set_student1.intersection(set_student1, set_student2 , set_student3)
print(set_student4)

{'python'}

In [ ]:
set1={"shreya", "hritesh" , "Arijit" ,  "shreyas", "john"}
set2={"shreya" , "shreyas"}
set3=set1.difference(set2)
print("absent:" , set3)

absent: {'Arijit', 'john', 'hritesh'}

In [ ]:
courses = {"python", "maths", "dawl"}
courses.discard ("dawl")
print (courses)

{'python', 'maths'}